<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <%= render 'shared/header', search_url: equipments_path %>
</head>

<body>

    <div class="clubsContainerParent">
        <h2 class="clean">Available Equipments</h2>

        <% if @items.present? %>
        <div class="clubsContainer last-disabled">
            <% @items.each do |item| %>
            <% if item.Status != 'Unavailable' %>
            <!-- Show only available items here -->
            <div class="club">
                <div class="clubDetails">
                    <h2><%= item.Equipment_Name %></h2>
                    <p>ID: <%= item.Equipment_ID %> | <%= item.Status %></p>
                </div>
                <%= link_to image_tag('arrow-icon.svg'), item, class: "more-link" %>
            </div>
            <% end %>
            <% end %>
        </div>
        <% else %>
        <p>No items found in this group.</p>
        <% end %>




        <% if @items.any? { |item| item.Status == 'Unavailable' } %>
        <br>
        <hr><br>
        <h2 class="clean">Unavailable Equipments</h2>
        <div class="clubsContainer last-disabled">
            <% @items.each do |item| %>
            <% if item.Status == 'Unavailable' %>
            <!-- Show only unavailable items here -->
            <div class="club">
                <div class="clubDetails">
                    <h2><%= item.Equipment_Name %></h2>

                    <p>ID: <%= item.Equipment_ID %> | <%= item.Status %></p>
                </div>
                <%= link_to image_tag('arrow-icon.svg'), item, class: "more-link" %>
            </div>
            <% end %>
            <% end %>
        </div>
        <% end %>
    </div>
</body>

</html>