<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <%= render 'shared/header', search_url: equipments_path %>
</head>

<body>

    <div class="equipment-container">
        <div class="equipment-details">

            <h1 class="equipment-name"><%= @equipment.Equipment_Name %></h1>

            <p class="equipment-id">Equipment ID: <%= @equipment.Equipment_ID %></p>
            <p class="equipment-receipt">Receipt: <%= @equipment.financial_record&.Title || "No record associated" %></p>
            <p class="equipment-club">Club: <%= @equipment.club&.Club_Name || "No club associated" %></p>
            <p class="equipment-vendor">Vendor: <%= @equipment.vendor&.Name || "No vendor associated" %></p>



            <%= link_to "Edit", edit_equipment_path(@equipment), id: "open-overlay", class: "regularButtonYellow" %>
            <%= button_to "Delete", @equipment, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "regularButtonRed" %>


        </div>


        <div class="overlay" id="overlay" style="display: none;">
            <div class="overlay-content">
                <h1>Edit Equipment</h1>
                <!-- Dynamic content (the form) will be loaded here -->
                <div id="overlay-form-content">
                    <!-- Placeholder for form -->
                </div>
                <button id="close-overlay">X</button>
            </div>
        </div>
    </div>
</body>

</html>