<!-- filepath: /Users/aminbihamta/Software Engineering/SIMS/app/views/reports/index.html.erb -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>

<body>
    <%= render 'shared/header', search_url: equipments_path %>

    <div class="introDiv">
        <div>
            <h1 class="welcome">Welcome</h1>
            <p class="email"><%= current_user&.email %></p>
        </div>

        <!-- Quick Actions -->
        <div class="buttonsDiv">
            <%= link_to "Send a Notification", notifications_path, class: "regularButtonYellow" %>
            <%= link_to "View Expenses", expenseDashboard_financial_records_path, class: "regularButtonYellow" %>
            <%= link_to "Generate a Report", reports_path, class: "regularButtonYellow" %>

        </div>
    </div>

    <div class="latestBorrowingsParent">
        <h2 class="headline">Latest Borrowings</h2>
        <div class="borrowingsParent">
            <% if @borrowings.any? %>
            <% @borrowings.each do |borrowing| %>
            <div class="club borrowings">
                <div class="column">
                    <h2 class="border px-4 py-2"><%= borrowing.equipment.Equipment_Name %></h2>
                    <span class="border px-4 py-2"><%= borrowing.club.Club_Name %></span>
                </div>
                <div class="column">
                    <span class="border px-4 py-2"><%= borrowing.borrow_date.strftime('%d/%m/%Y') %> - <%= borrowing.due_date.strftime('%d/%m/%Y') %></span>
                    <span class="border px-4 py-2 status"><%= borrowing.status.capitalize %></span>
                </div>
            </div>
            <% end %>
            <% else %>
            <p>No borrowings found.</p>
            <% end %>
        </div>
    </div>
</body>

</html>