 <!DOCTYPE html>
 <html lang="en">

 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>

     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
     <%= render 'shared/header', search_url: equipments_path %>
     <%= stylesheet_link_tag 'financials/expenseDashboard', media: 'all', 'data-turbo-track': 'reload' %>
     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
 </head>

 <body>

     <div class="introDiv">
         <div>
             <h1 class="welcome">Welcome</h1>
             <p class="email"><%= current_user.email.split('@').first %></p>
         </div>
     </div>

     <!-- Notification Section -->
     <div class="notifications-container">
         <h2 class="clean">Latest Notifications</h2>



         <table class="min-w-full">
             <thead>
                 <tr>
                     <th class="px-4 py-2">Message</th>
                     <th class="px-4 py-2">Received At</th>
                     <th class="px-4 py-2">Equipment</th>
                     <th class="px-4 py-2">Due Date</th>
                 </tr>
             </thead>
             <tbody>
                 <% @notifications.each do |notification| %>
                 <tr class="<%= notification.status %>">
                     <td class="border px-4 py-2"><%= notification.message %></td>
                     <td class="border px-4 py-2"><%= notification.updated_at.strftime("%B %d, %Y %H:%M") %></td>
                     <% if notification.borrowing %>
                     <td class="border px-4 py-2"><%= notification.borrowing.equipment.Equipment_Name %></td>
                     <td class="border px-4 py-2"><%= notification.borrowing.due_date.strftime("%B %d, %Y") %></td>
                     <% else %>
                     <td class="border px-4 py-2">-</td>
                     <td class="border px-4 py-2">-</td>
                     <td class="border px-4 py-2">-</td>
                     <% end %>
                 </tr>
                 <% end %>
             </tbody>
         </table>


         <% if @notifications.empty? %>
         <p>No new notifications</p>
         <% end %>
     </div>

     <!-- Latest Borrowed Section -->
     <div class="clubsContainerParent">
         <h2 class="clean">Latest Borrowed</h2>
         <div class="clubsContainer last-disabled">
             <% @borrowings.each do |borrowing| %>
             <div class="club">
                 <div class=" clubDetails">

                     <h2><%= borrowing.equipment.Equipment_Name %></h2>
                 </div>
                 <div class="clubDetails">

                     <% case borrowing.status %>
                     <% when :returned %>
                     <p>Equipment returned</p>
                     <% when :overdue %>
                     <p>Overdue by: <%= ((Time.current - borrowing.due_date) / 1.day).to_i %> days</p>
                     <% when :borrowed %>
                     <p>Due in: <%= (borrowing.due_date.to_date - Date.current).to_i %> days</p>
                     <% end %>
                     <p>Due on <%= borrowing.borrow_date.strftime('%d/%m/%Y') %></p>
                 </div>
             </div>
             <% end %>
         </div>
     </div>
 </body>

 </html>