<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <%= render 'shared/header', search_url: equipments_path %>
    <%= stylesheet_link_tag 'financials/expenseDashboard', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>

<body>


    <div class="add-record" style="display: flex; justify-content: center; margin: 0px 0px 20px 0px; align-items: center;">
        <%= link_to "Add Borrowing Record", new_borrowing_path, class: "regularButtonYellow", style: "width: 200px" %>
    </div>

    <div class="expenses-card">
        <%= button_to "Super Club Borrowings", super_club_borrowings_borrowings_path, method: :get, class: 'btn-super-club' %>
        <%= button_to "Sub-Club Borrowings", sub_club_borrowings_borrowings_path, method: :get, class: 'btn-sub-club' %>
    </div>

    <section class="overdue-items borrowingsContainer">
        <h2 class="clean">Overdue Items</h2>

        <div class="clubsContainer last-disabled">
            <% Borrowing.where(status: "overdue").each do |item| %>
            <div class="club" onclick="window.location='<%= edit_borrowing_path(item) %>'" style="cursor: pointer;">
                <div class="clubDetails">
                    <h2><%= item.equipment.Equipment_Name %></h2>
                    <p>Borrowed by <%= item.pic_info %></p>

                </div>
                <div class="clubDetails">

                    <p>Due date: <%= item.due_date.strftime("%B %d, %Y") %></p>
                    <p>Quantity: <%= item.quantity %></p>
                </div>
            </div>
            <% end %>
        </div>
    </section>

    <section class="borrowed-items borrowingsContainer">
        <h2>Borrowed Items</h2>
        <div class="clubsContainer last-disabled">
            <% Borrowing.where(status: "borrowed").each do |item| %>
            <div class="club" onclick="window.location='<%= edit_borrowing_path(item) %>'" style="cursor: pointer;">
                <div class="clubDetails">
                    <h2><%= item.equipment.Equipment_Name %></h2>
                    <p>Borrowed by: <%= item.pic_info %></p>
                </div>
                <div class="clubDetails">
                    <p>Due date: <%= item.due_date.strftime("%B %d, %Y") %></p>
                    <p>Quantity: <%= item.quantity %></p>
                </div>
            </div>
            <% end %>
        </div>
    </section>
</body>

</html>