<h1>Edit Financial Record</h1>

<%= form_with(model: @financial_record, url: @form_url, local: true, class: "edit-financial-record-form") do |form| %>
    <div class="form-row">
      <%= form.label :Title, "Title", class: "form-label" %>
      <%= form.text_field :Title, class: "form-input" %>
    </div>

    <div class="form-row">
      <%= form.label :Amount, "Amount", class: "form-label" %>
      <%= form.number_field :Amount, class: "form-input" %>
    </div>

    <div class="form-row">
      <%= form.label :Vendor_ID, "Vendor", class: "form-label" %>
      <%= form.collection_select :Vendor_ID, Vendor.all, :Vendor_ID, :Name, { prompt: "Select Vendor" }, { class: "form-input" } %>
    </div>

    <div class="form-row">
      <%= form.label :Club_ID, "Club", class: "form-label" %>
      <%= form.collection_select :Club_ID, Club.where(Is_Super_Club: false), :Club_ID, :Club_Name, { prompt: "Select Club" }, { class: "form-input" } %>
    </div>

    <div class="form-row">
      <%= form.label :Quantity, "Quantity", class: "form-label" %>
      <%= form.number_field :Quantity, class: "form-input" %>
    </div>

    <div class="form-actions">
      <%= form.submit "Update", class: "submit-button" %>
    </div>
  <% end %>