<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <%= render 'shared/header', search_url: equipments_path %>
    <%= stylesheet_link_tag 'financials/expenseDashboard', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>

<body>
    <h1 class="page-title ">Generated Report</h1>
    <div class="reportData">
        <span>Super Club: <%= @super_club.Club_Name %></span>
        <span>Sub Club: <%= @sub_club.Club_Name %></span>
        <span>Start Date: <%= @start_date %></span>
        <span>End Date: <%= @end_date %></span>
        <button onclick=" window.print()" class="regularButtonYellow">Print Report</button>
    </div>

    <h2 class="clean">All Expenses</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% @expenses.each do |expense| %>
            <tr>
                <td><%= expense.Title %></td>
                <td><%= number_to_currency(expense.Amount, unit: "RM") %></td>
                <td><%= expense.created_at.strftime("%d/%m/%Y") %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <h2 class="clean">Expenses Over Time</h2>
    <div class="desktop-only">
        <%= line_chart @chart_data %>
    </div>
    <div class="mobile-only">
        <%= line_chart @chart_data, width: "300px" %>
    </div>
    <%= javascript_include_tag 'application' %>


</body>

</html>